@import
"../01_utilities/variables";
.c-boton{
    background-color: blue;
    border:1px solid blue;
    border-radius: 4px;
    color: white;
    padding: getPadding(5) getPadding(2);/*Horizontal y vertical*/
    font-size: 16px;
    color:#FFFFFF;

    opacity: 1;
    outline: none !important;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;

    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &2{
        @include box-shadow(red);
        border: getBorderSize(2) solid #00FF00;
        font-size: $valor;
    }
    &--secundario{
        color: blue;
        @include color-invertido;
       // @include box-shadow(red);
        background-color: white;
        
    }
    &--size-lg{
      //  border: getBorderSize(2) solid #00FF00;
        padding: 20px 10px;
        font-size: 20px;
        }
  
}


/* a partir de aqui son modificadores de la clase c-boton cuando son bodificadores tiene que llevar delante c-boton*/

/*Este normalmente no se crea es mejor de manera individual */
