.c-menu{
    margin:10px;
    width:160px;
    font-family: Arial, Helvetica, sans-serif;
}
.c-barra{
    position: absolute;
    cursor:pointer;
}
ul,ol{
    list-style: none;
}
.c-nav{
    padding-top: 10px;
    display:none;
}
.c-nav li a {
    background-color: #000;
    color:#fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.c-nav > li {
    float:inline-start;
  }

.c-nav li a:hover{
    background-color: grey;
}
.c-nav li ul{
    display:none;
    position: absolute;
    min-width: 160px;
    left:170px;
    top:36px;
}
.c-nav li:hover >ul {
    display:block
}
/*por si usamos otra más enlazada
.c-nav li ul li {
    position:relative;
}
.c-nav li ul li ul {
    right:-160px;
    top:0px;
}
*/