@function getBorderSize($size) {
    @return 10px * $size;
  }

  @function getPaddingKeys() {
    //recordar que con el nth el array empieza desde el 1 
    $list:();
    @for $key from 0 to length($padding-value){
       $list:append($list,$key);//en ves de ser igual sería 2 puntos por css , append lo que hace es crear un nuevo array con esos valores y al
       //realizar el $list:append($list,$i); lo que hace es asignar esos valores al array que ha creado append
    }
    @return $list;
  }


  @function getPadding($indice) {
    //recordar que con el nth el array empieza desde el 1 
    @return nth($padding-value,$indice+1);
  }

  @function getShadow($indice) {
    //recordar que con el nth el array empieza desde el 1 
    @return unquote(nth($shadow-value,$indice+1));
  }

  @function getShadowKeys() {
    //recordar que con el nth el array empieza desde el 1 
    $list:();
    @for $key from 0 to length($shadow-value){
       $list:append($list,$key);//en ves de ser igual sería 2 puntos por css , append lo que hace es crear un nuevo array con esos valores y al
       //realizar el $list:append($list,$i); lo que hace es asignar esos valores al array que ha creado append
    }
    @return $list;
  }

  /* Esto sería como la clase factories la utilidad que tendría es que si cambias de que sea solo un array a un array con clave valor 
  la manera de obtener las claves sería la segunda para poder aplicarlo a  _g--padding
  @function getPaddingKeys() {
    $list:();
    @for $i from 0 to length($padding-value){
       $list:append($list,$i);//en ves de ser igual sería 2 puntos por css , append lo que hace es crear un nuevo array con esos valores y al
       //realizar el $list:append($list,$i); lo que hace es asignar esos valores al array que ha creado append
    }
    @return $list;
    
  }
  */
//Segundo 

  /*@function getPaddingKeys() {
  //si fuera con clave valor $padding-value:( "0":"0px","1":"4px")...; esto sería para obtener las claves del padding-value
    @return map-key($padding-value);
  }
  */


  @function getFontSizeKeys(){
    @return map-keys($font-size-value);
  }


  @function getFontSize($clave) {
    //recordar que con el nth el array empieza desde el 1 
    @return map-get($font-size-value,$clave);
  }



  @function getColorsNombre(){
    @return map-keys($colors);
  }


  @function getColorsArray($clave) {
    //recordar que con el nth el array empieza desde el 1 
    @return map-get($colors,$clave);
  }


  @function getColorsKeys($clave) {
    //recordar que con el nth el array empieza desde el 1 
    $list:();
    @for $key from 0 to length(getColorsArray($clave)){
       $list:append($list,$key);//en ves de ser igual sería 2 puntos por css , append lo que hace es crear un nuevo array con esos valores y al
       //realizar el $list:append($list,$i); lo que hace es asignar esos valores al array que ha creado append
    }
    @return $list;
  }


  @function getColor($indice,$clave) {
    //recordar que con el nth el array empieza desde el 1 
    @return nth(getColorsArray($clave),$indice+1);
  }