@mixin box-shadow($color) {
    -webkit-box-shadow: 2px 10px 24px $color;
    -moz-box-shadow: 2px 10px 24px $color;
    box-shadow: 2px 10px 24px $color;
  }

  @mixin color-invertido {
    border-color:gray;
    color: blue;
  }

@mixin shadow($key){
  -webkit-box-shadow: getShadow($key);
  -moz-box-shadow: getShadow($key);
  box-shadow:getShadow($key);
}