@for $i from 0 to length($border-radius-value){
   //siempre accede al primer valor con 1 no con 0 , por eso es $i+1
   $valor:nth($border-radius-value,$i+1);
   .g--border-radius-#{$i} {
     border-radius: $valor;
   }
   .g--border-radius-left-#{$i} {
    border-top-left-radius: $valor;
    }
}

