@import
"../01_utilities/variables" ;


//como es un map hay que acceder a su clave-valor y como el segundo es otro map, entonces para el recorrido
//hay que acceder a su valor  que esta dentro otro array 
//para mejorarlo hacer un array solo sin los numeros y depsues recorrerlo con un contrador;

  @each $name,$valor in $paleta_Colores {

    @for $i from 1 to length($valor)+1
    {
      $color:nth($valor,$i);
      .g--background-color-#{$name}-#{$i}{
        background-color: $color;
      }
    }
        
      
    } 
    
//TODO ENCAPSULADO
    @each $nombre in getColorsNombre(){ 
      $valor:getColorsArray($nombre);
      @each $key in getColorsKeys($nombre){ 

        //$valor:nth($padding-value,$i+1); como he creado la funcion getPadding ya en esa funcion sumo 1 para que actue como si fuera el array
        // xk el indice empieza en 1  y solo haría falta sumar la función 
        $color:getColor($key,$nombre);
        .g--background-color-#{$nombre}-#{$key+1}{
          background-color: $color;


    }
  }
}

