.g--font-size-5{
    font-size: 20px;
}
//acordar de importar este scss en el main





@each $key in getFontSizeKeys(){ 
  $valor:getFontSize($key);
  .g--font-size-#{$key} {
    font-size: $valor;
  }
}
