@for $numero from 0 to length($margin-value){
  //siempre accede al primer valor con 1 no con 0 , por eso es $i+1
  $valor:nth($margin-value,$numero+1);
  .g--margin-#{$numero} {
    margin: $valor;
  }
  .g--margin-left-#{$numero} {
    margin-left: $valor;
    }
  .g--margin-right-#{$numero} {
    margin-right: $valor;
    }
  .g--margin-top-#{$numero} {
    margin-top: $valor;
    }
  .g--margin-bottom-#{$numero} {
    margin-bottom: $valor;
    }
  .g--margin-vertical-#{$numero} {
    margin-top:$valor;
    margin-bottom: $valor;
      /*padding: $valor 0px $valor 0px; arriba , derecha ,abajo y izquierda;
      padding-top:$valor;
      padding-bottom:$valor;
      */
    }
  .g--margin-horizontal-#{$numero} {
     /* padding: 0px $valor; Así no estaría correcto porque le daria siempre el valor 0px al vertical y puede ser que tenga otro valor*/
     margin-right:$valor;
     margin-left: $valor;
  }
}


